*{
    margin: 0%;
    padding: 0%;
}
html
{
    scroll-behavior: smooth;
}
 a{
    list-style-type:none!important;
    color:white!important;
    text-decoration: none;
    font-family: cursive;
    font-weight: bolder;
}
.navi{
    background-color: black;
}
.hamburger{
    background-color: black!important;
}
.btns{
background-color:  white;
}
.slider{
    height: 100vh;
    width:100%;
    display: flex;
    flex-direction: row;
    overflow: hidden!important;
   background-color: black;
}
.slides{
    display: flex;
    padding-top: 0px !important;
}
#img{
    height: 100vh;
    width: 100vw;
}
.text1 p{
   text-align: center;
   transform: translateY(-80vh); 

font-size: 3.1vw;
color: white;
font-weight: bolder;
}
.text1{
    height: 3vh;
    width: 40%;
    transform: translateX(30vw);
    
}
#inner-text1{
    font-size: 1.1vw;
    font-weight: normal;
    color:white;
}
.text2 p{
    text-align: center;
    transform: translateY(-80vh); 
 
 font-size: 3.1vw;
 color: white;
 font-weight: bolder;
 }
 .text2{
     height: 3vh;
     width: 30%;
     transform: translateX(30vw);
     
 }
 #inner-text2{
     font-size: 1.1vw;
     font-weight: normal;
     color:white;
     font-weight: bolder;
 }
 .text3 p{
    text-align: center;
    transform: translateY(-80vh); 
 
 font-size: 3.1vw;
 color: white;
 font-weight: bolder;
 }
 .text3{
     height: 3vh;
     width: 14%;
     transform: translateX(28vw);
     
 }
 #inner-text3{
     font-size: 1.1vw;
     font-weight: normal;
     color:white;
     font-weight: bolder;
 }

.slides input{
    display: none;
}
.slide{
    width: 100%;
    transition: 1s;
}
.btn{
    text-align: center;
}

.b1{
    background-color: white;
    border-radius: 5%;
    border:2px solid white;
    transform: translateY(10vh);
    font-weight: bolder;
    height: 5vh;
    width: 10vw;
}
.b4{
    background-color: white;
    border-radius: 5%;
    border:2px solid white;
    transform: translateY(10vh);
    margin-left: 2%;
    margin-right: 10%;
    color: white;
    font-weight: bolder;
    color: black;
    height: 5vh;
    width: 10vw;
}
.b5{
    background-color: white;
    border-radius: 5%;
    border:2px solid white;
    transform: translateY(10vh);
    color: black;
    font-weight: bolder;
    height: 5vh;
    width: 10vw;
}
.manual{
position: absolute;
width: 100%;
margin-top: -16vh;
display: flex;
justify-content: center;
}
.manual-btn{
    border: 0.2vw solid white;
    padding: 0.4vw;
    border-radius: 2vw;
    cursor: pointer;
    transition: 1s;
    margin-left: 2vw;
}
.manual-btn:hover{
    background-color: white;
}
#radio1:checked ~.first{
    margin-left: 0%;
}
#radio2:checked ~.first{
    margin-left: -50%;
}
#radio3:checked ~.first{
    margin-left:-200%;
}
h1{
    text-align: center;
    margin-top: 10vh;
    font-weight: bolder;
}
#Welcome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5vh ;
    width: 100%;
}
.icon1{
    font-size: 15vw;
    margin-left: 20px;
    color: gray!important;
}
#Welcome p{
font-size: 2vw;
width: 50%;
text-align: left;
}
.icon-container
{
    width: 80px;
    height: 80px;
    background-color: rgb(67, 3, 112);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 15px;
}
.icon2{
    font-size: 40px;
    color: white;
}
.icon-title
{
    font-size: 22px;
    color: rgb(67, 3, 112);
}
.card1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    flex-wrap: wrap;
}
.c1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 17%;
}
.c1 p{
    text-align: center;
}
.c2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 17%;
    text-align: center;
}
.c3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 17%;
    text-align: center;
}

.bt1{
    background-color: rgb(253, 212, 29);
    color: black;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5%;
    transition: 100ms linear;
}
.bt1:hover{
    background-color: rgb(67, 3, 112);
    color: white;
}
.card2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-x: hidden;
    margin-top: 30px;
}
.img1{
    height: 30vh;
    background-image: url('images/img16.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.img2{
    height: 30vh;
    background-image: url('images/img17.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.img3{
    height: 30vh;
    background-image: url('images/image18.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.img4{
    height: 30vh;
    background-image: url('images/img19.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.text4{
margin-top: 5vh;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}
.bt2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-0.8vh);
}
.bt3{
    background-color:  rgba(255, 255, 255, 0.774);
    padding: 5px 10px;
    border: none;
    font-weight: 500;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 100ms linear;
}

.project-card{
    width: 24%;
    background-color: rgb(233, 233, 233);
    transition: 100ms linear;
}
.project-card:hover{
    background-color: rgb(255, 234, 139);
}
.project-card:hover .bt3{
    background-color: rgb(129, 33, 197);
    color: white;
}
.card2 p{
    width: 90%;
    text-align: center;
}
.card3 h1
{
    margin-top: 40px;
}
.plans{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width:33.33%;
    margin-top:20px;
    flex-wrap: wrap;
    
}
#plan{
    border-right: 1px solid grey;
}
.plan-type
{
    color: grey;
    margin: 10px 0px;
}
.bt4{
    width:100px;
    height: 35px;
    background-color: rgb(253, 212, 29);
    color: black;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    transition: 100ms linear;
}
.bt4:hover{
    background-color: rgb(67, 3, 112);
    color: white;
}
.content2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    overflow-x: hidden;
}
.video-projects
{
    width: 100% !important;
    padding: 0px !important;
    margin-top: 30px;
}
.content3{
    margin-top: 20px;
    text-align: center;
    background-color: rgba(67, 3, 112, 0.877);
    color: white;
    padding: 30px 0px 60px 0px;
}
.videos{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    
}
#v1{
    height: 40vh;
    width: 30vw;
}
#v2{
    height: 40vh;
    width: 30vw;
}
#v3{
    height: 40vh;
    width: 30vw;
}
.img5{
    position: relative;
   
}
.images2{
    height: 30vh;
    width: 15vw;
    margin-top: 6vh;
    border-radius: 50%;
}
.icon4{
position: absolute;
top: 6vh;
display: flex;
justify-content: space-evenly;
align-items: center;
width:15vw ;
border-radius: 50%;
height: 30vh;
background-color: rgba(0, 0,0, 0.7);
opacity: 0;
transition:opacity 0.5s linear;
}
.icon5{
    color: white;
    font-size: 5vh;
    cursor: pointer;
}
.icon4:hover{
opacity: 1;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    width: 60%;
}
.about{
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    color: black;
}
.about p{
    color: gray;
    text-align: center;
}
.content4{
    height:auto;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.slide5{
    height: auto;
    width: 100%;
    margin-top: 20px; 
}
.img10{
    width: 100%;
    display: flex;
    justify-content: center;
}
.img6{
    width: 10vw;
    transition:height 1s linear;
    cursor: pointer;
    transition: 100ms linear;
    margin: 0px 10px;
}
#img7:hover{
    box-shadow: 0px 0px 10px  rgb(105, 105, 105);
    transform:scale(1.1);
}
#img8:hover{
    box-shadow: 0px 0px 10px  rgb(105, 105, 105);
    transform:scale(1.1);
}
#img9:hover{
    box-shadow: 0px 0px 10px  rgb(105, 105, 105);
    transform:scale(1.1);
}
#img10:hover{
    box-shadow: 0px 0px 10px  rgb(105, 105, 105);
    transform:scale(1.1);
}
#img11:hover{
    box-shadow: 0px 0px 10px  rgb(105, 105, 105);
    transform:scale(1.1);
}
#img12{
    width: 56vw;
}
.container-3{
    background-color:rgba(209, 209, 209, 0.4);
    width: 100%;
    padding: 20px 0px 40px 0px;
}
.container-3 h1
{
    margin: 0;
}
.signup{
    height:40vh;
    width: 100%;
    background-image: url('images/img33.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.signup h1{
    margin-bottom: 20px;
    margin-top: 0px;
    color: white;
    transform: translateY(-3vh);
    font-weight: bolder;
    font-size: 3.5vw;
    text-shadow: 3px 3px black;
}
.signin{
    display: flex;
    justify-content: center;
}
.signin input{
    width: 33%;
    height: 40px;
}
.signin button{
    background-color:  rgb(253, 212, 29);
    color: black;
    border-radius: 5px;
    border: none;
    width: 80px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.signin button:hover{
    background-color: indigo;
    color: white;
    font-weight: bolder;
}
.card5{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog-card{
    width: 32%;
}
.bt11,.bt12,.bt13
{
    background-color: rgb(253, 212, 29);
    color: black;
}
.bt11:hover{
    background-color: rgb(129, 33, 197);
    color: white;
}
.bt12:hover{
    background-color: rgb(129, 33, 197);
    color: white;
}
.bt13:hover{
    background-color: rgb(129, 33, 197);
    color: white;
}
.card5 p{
    text-align: center;
}
.text7{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.text7 p{
width: 90%;
}
.img30{
    height: 30vh;
    background-image: url('images/img40.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img31{
    height: 30vh;
    background-image: url('images/img41.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.img32{
    height: 30vh;
    background-image: url('images/img42.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bt11{
    padding: 5px 10px;
    border: none;
    font-weight: 500;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 100ms linear;
}

.bt12{
    padding: 5px 10px;
    border: none;
    font-weight: 500;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 100ms linear;
}
.bt13{
    padding: 5px 10px;
    border: none;
    font-weight: 500;
    color: black;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: 100ms linear;
}
.contact{
    margin-top: 5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.map{
    width: 50%;
}
.map p{
    height: 100%;
}
.forms{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    width: 50%;
    padding-bottom: 15px;
}
.forms input{
    width: 20vw;
    margin-bottom: 3vh;
    display: flex;
    align-items: center;
}
.forms button{
    width: 20vw;
    height: 5vh;
    background-color: indigo;
    color: white;
}
h5{
    font-size: 3vw;
}
.forms label{
    color: black;
    font-weight: bolder;
    margin-top: 2vh;
}
.contacts{
    background-color: rgba(225,225,0,0.5);
}
#message{
    height: 20vh;
}
#maps{
    width: 100%!important;
    height: 100%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:white;
    flex-wrap: wrap;
}
.follow1{ 
    font-size: 2vw;
    display: flex;
}
.follow i{
    margin-left: 1vw;
    text-align: center;
    color: black;
}
.follow2{
    font-size: 1.7vw;
    margin-left: 0.5vw;
}
h6{
    text-align: center;
    font-size: 1.5vw;
    margin-top: 5vh;
    font-weight: bolder;
    color: black;
}
.follow{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}

.address{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.para{
   text-align: center;
   color: black;
}
#icons-follow{
    transform: translateX(0.5vw);
}
button
{
    border: none !important;
    border-radius: 3px !important;
    outline: none !important;
}
.para p{
    font-weight: bolder;
}
@media(max-width:1024px){
    
    .manual{
        position: absolute;
        width: 100%;
        margin-top: -20vh;
        display: flex;
        justify-content: center;
        }
        #inner-text1{
            font-size: 1.6vw;
            font-weight: normal;
            color:white;
        }
        .b1{
            background-color: white;
            border-radius: 5%;
            border:2px solid white;
            transform: translateY(10vh);
            font-weight: bolder;
            height: 6vh;
            width: 12vw;
        }
    #inner-text2{
        font-size: 1.6vw;
        font-weight: normal;
        color:white;
    }
    
    #inner-text3{
        font-size: 1.6vw;
        font-weight: normal;
        color:white;
        width: 100%;
    }
    .b5{
        background-color:white;
        border-radius: 5%;
        border:2px solid white;
        transform: translateY(10vh);
        height: 6vh;
        width: 12vw;
    }
    .b4{
        height: 6vh;
        width: 12vw;
    }
    .text3{
        width: 17%;
        transform: translateX(25vw);
    }
    .forms input{
        width: 25vw;
        margin-bottom: 3vh;
        display: flex;
        align-items: center;
    }
    .forms button{
        width: 25vw;
    }
}


@media(max-width:768px){
    .manual{
        position: absolute;
        width: 100%;
        margin-top: -26vh;
        display: flex;
        justify-content: center;
        }
        #inner-text1{
            font-size: 2vw;
        }
        #inner-text2{
            font-size: 1.8vw;
        }
        #inner-text3{
            font-size: 1.6vw;
        }
        .b1{
            height:5vh;
            width: 15vw;
        }
        .b4{
            height:5vh;
            width: 15vw;
        }
        .b5{
            height:5vh;
            width: 15vw;
        }
        .text3{
            transform: translateX(25vw);
        }
        .c1{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
    
        }
        .icon2{
            font-size: 10vw;
        }
        .c2{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            
        }
        .c3{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 30%;
            
        } 
        .content2{
            flex-wrap: nowrap;
        } 
        .images2{
            height: 30vh;
            width: 20vw;
            margin-top: 6vh;
            border-radius: 50%;
        }
        .icon4{
            width:20vw ;
            }
            .img10{
            height:auto;
            width: 100%;
            }
            
            .signup h1{
                font-size: 4vw;
            }
            .signin input{
                width: 40vw;
            }
            #img12{
                margin-bottom: 5vh;
            }
.map{
    width:100%;
    
}
#maps{
    width: 100%!important;
}
.forms input{
    width:40vw;
}
h5{
    font-size: 5vw;
    text-align: center;
}
.forms{
   width: 50%;
}
.forms button{
    width:40vw;
    margin-bottom: 2vh;
}

        }
    
@media(max-width:500px){
    
    .manual{
        position: absolute;
        width: 100%;
        margin-top: -30vh;
        display: flex;
        justify-content: center;
        }
        #inner-text1{
            font-size: 2.5vw;
            font-weight: normal;
            color:white;
        }
        .b1{
            background-color: white;
            border-radius: 5%;
            border:2px solid white;
            transform: translateY(10vh);
            font-weight: bolder;
            height: 5vh;
            width: 20vw;
        }
        
       .text2 p {
           font-size: 3.5vw;
       }
    
    #inner-text2{
        font-size: 2.6vw;
        font-weight: normal;
        color:white;
    }
    .b4{
        background-color: white;
        border-radius: 5%;
        border:2px solid white;
        transform: translateY(10vh);
        text-align: center;
        margin-left: 5%;
    
    color: black;
    font-weight: bolder;
    height: 5vh;
    width: 20vw;
    }
    .text3 p {
        font-size: 3.5vw;
        color: white;
    }
 
 #inner-text3{
     font-size: 2.8vw;
     font-weight: normal;
     color:white;
 }
 .b5{
     background-color: white;
     border-radius: 5%;
     border:2px solid white;
     transform: translateY(10vh);
 
 
 color:black;
 font-weight: bolder;
 height: 5vh;
 width: 20vw;
 } 
 .c1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 51%;
    margin-bottom: 10%;
}

.icon2{
    font-size: 10vw;
}
.c2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 51%;
    margin-bottom: 10%;
}
.card2{
    margin-left: 0%;
}
.c3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 51%;
    margin-bottom: 2%;
}
.c4{
    width: 100%;
    border: 0.1vw solid gray;
    margin-bottom: 5%;
}
.c5{
    width: 100%;
    border: 0.1vw solid gray;
    margin-bottom: 5%;
}
.c6{
    width: 100%;
    border: 0.1vw solid gray;
    margin-bottom: 5%;
}
.c7{
    width: 100%;
    border: 0.1vw solid gray;
}
.card2 p{
    width:80%;
}  
.content2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#plan{
    border-bottom: 1px solid gray;
    border-right: none;
    padding-bottom: 2vw;
}
.plans{
    width: 100%;
}
.bt4{
    width:20vw;
}
.content3{
    margin-top: 10vh;
    width: 100%;
    text-align: center;
    background-color: indigo;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

}
h3{
    text-align: center;
}
.videos{
    flex-direction: column;
}
#v1{
    width: 70vw;
}
#v2{
    width: 70vw;
}
#v3{
    width: 70vw;
}
.images2{
    height: 35vh;
    width: 50vw;
    margin-top: 6vh;
    border-radius: 50%;
}
.icon4{
    width: 50vw;
    height: 35vh;
}
.img10{
    flex-direction: row;
    width: 100%;
    
}

.signup h1{
    font-size: 9vw;
}
.signin input{
    width: 80vw;
}
.text4{
    width: 100%;
}
.blog-card{
    width: 100%;
    margin-bottom: 5vh;
}
.map{
    width:100%;
}
#maps{
    width: 100%!important;
}
.forms input{
    width:60vw;
}
h5{
    font-size: 10vw;
}
.forms{
   width: 50%;
}
.forms button{
    width:60vw;
}
.follow{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-bottom: 4vh;
}
h6{
    font-size: 5vw;
}
.address{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4vh;
}

.follow1{
    font-size: 7vw;
    display: flex;
}
.follow i{
    margin-left: 2vw;
    text-align: center;
}
.follow2{
    font-size: 5.5vw;
    margin-left: 0.5vw;
}
} 
@media(max-width:376px){
    .manual{
        position: absolute;
        width: 100%;
        margin-top: -30vh;
        display: flex;
        justify-content: center;
        }
        #inner-text1{
            font-size: 3.2vw;
            font-weight: normal;
            color:white;
        }
        .b1{
            background-color:white;
            border-radius: 5%;
            border:2px solid white;
            transform: translateY(10vh);
        
        
        font-weight: bolder;
        height: 5vh;
        width: 23vw;
        }
        
        .text1{
            width: 50%;
        }
        .text1 p{
           
            font-size: 5vw;
            
        }
        .text2 p {
            font-size: 5vw;
        }
     
     #inner-text2{
         font-size: 2.6vw;
         font-weight: normal;
         color:white;
     }
     .b4{
         background-color: white;
         border-radius: 5%;
         border:2px solid white;
         transform: translateY(10vh);
     margin-left: 2%;
     
     color:black;
     font-weight: bolder;
     height: 5vh;
     width: 23vw;
     
}  

.text3 p {
    font-size: 6vw;
    color: white;
}

#inner-text3{
 font-size: 2.8vw;
 font-weight: normal;
 color:white;
}

.b5{
 background-color:white;
 border-radius: 5%;
 border:2px solid white;
 transform: translateY(10vh);


color:black;
font-weight: bolder;
height: 5vh;
width: 23vw;


}
.c1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 51%;
    margin-bottom: 10%;
}
.icon2{
    font-size: 10vw;
}
.c2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 51%;
    margin-bottom: 10%;
}
.c3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 51%;
    margin-bottom: 2%;
}
.images2{
    height: 35vh;
    width: 60vw;
    margin-top: 6vh;
    border-radius: 50%;
}
.icon4{
    width: 60vw;
    height: 35vh;
}

} 


